.result {
    /* line-height: 1.6; */
    display: flex;
    align-items: center;
    justify-content: 20px;
    flex-direction: column;
    /* min-height: 100vh; */
}


.loader {
    height: 50px;
    transform-origin: bottom center;
    animation: rotate 2s linear infinite;
}
.circle {
    display: inline-block;
    background-color: #343a40 ;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    transform: scale(0);
    animation: grow 1s linear infinite;
    margin: -10px;
}
.circle:nth-child(2) {
    background-color: #979a9c;
    animation-delay: 0.5s;
}

@keyframes rotate {
    to {
        transform: rotate(360deg);
    }
}
@keyframes grow {
    50% {
        transform: scale(1);
    }
}